*,
*:after,
*:before {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "normalize.scss"; // Breytur
$orangeColor: #ef8354;
$bluegreyColor: #4f5d75;
$whiteColor: #fcfcfc;
$greyColor: #bfc0c0;
$darkblueColor: #2d3142;
@mixin makeGrid {
  display: grid;
  grid-gap: 0;
}
@mixin makeBlock {
  margin: 1em;
  padding: 1em;
  background-color: lighten($darkblueColor, 5);
  border-radius: 10px;
  line-height: 1.2;
}
// Layout

body {
  margin: 0 auto;
  font-family: "Open Sans",Helvetica,Aril,sans-serif;
  background-color: $darkblueColor;
  color: $whiteColor;
  @include makeGrid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "wrapper" "nav";
}

.signature {
  text-align: right;
  color: rgba(204, 204, 204, .3);
  margin-bottom: -3.5em;
}
// Pictures

.photo-gallery img {
  max-width: 100%;
  height: auto;
  padding: 0.3em;
}

header {
  grid-area: header;
}

.wrapper {
  grid-area: wrapper;
  margin-bottom: 3em;
  @include makeGrid;
  grid-template-columns: 1fr;
  grid-template-areas: "current" "main" "photos" "right" "footer";

  .main {
    @include makeBlock;
    grid-area: main;

    h1 {
      font-size: 1.2em;
      text-align: center;
    }

    .photo-gallery {
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  .right {
    @include makeBlock;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-area: right;

    li {
      list-style: none;
      border-bottom: 2px solid $orangeColor;
      margin-right: 2em;
      margin-bottom: 0.5em;
    }
  }

  footer {
    @include makeBlock;
    grid-area: footer;
    text-align: center;
  }

  .footer-content {
    max-width: 37.5em;
    margin: 0 auto;
  }
}

.current-site {
  text-align: center;
  margin: 1em;
  background-color: lighten($darkblueColor, 5);
  border-radius: 10px;
  grid-area: current;

  h3 {
    display: inline-block;
    padding: 0.1em;
    border-bottom: 2px solid $orangeColor;
  }
}
// Navigation

.topnav {
  grid-area: nav;

  input {
    display: none;
  }

  input:checked ~ .topmenu {
    position: fixed;
    bottom: 2.1em;
    transition: all 0.5s ease;
  }

  input:checked + label {
    border: 3px inset #999;
    color: $orangeColor;
  }

  label {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: $orangeColor;
    background-color: $bluegreyColor;
    padding: 0.2em;
    z-index: 999;

    &:before {
      font-size: 1.5em;
      content: "☰";
    }
  }
}

.topmenu {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  bottom: -15em;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  transition: all 0.5s ease;
  background-color: $greyColor;
  z-index: 99;

  li {
    border: 0;
    padding: 0;
    border-bottom: $greyColor;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0.25em;
    color: $whiteColor;
  }
}

.active,
.topmenu a:active,
.topmenu a:hover {
  color: darken($orangeColor, 5%) !important;
  transition: all 0.5s ease;
}
/*------Viðmið 37.5(600px)-----*/
@media screen and (min-width: 37.5em) {
  //.wrapper {
  //  .right {
  //    @include makeGrid;
  //    grid-template-columns: 35% 65%;
  //  }
  //}
  /*
  .wrapper {
    grid-template-columns: 65% 35%;
    grid-template-areas: "current current" "main right" "footer footer";

    .main {
      h1 {
        text-align: left;
      }
    }

    .right {
      grid-template-columns: 1fr;
    }
  }*/
  .current-site h3:before {
    content: "Stage 1";
  }
}
/*------Viðmið 48(760px)-----*/
@media screen and (min-width: 48em) {
  // Layout
  body {
    grid-template-areas: "header" "nav" "wrapper";
  }
  //.wrapper {
  //  .right {
  //    grid-template-columns: 25% 75%;
  //  }
  //}
  .wrapper {
    grid-template-columns: 65% 35%;
    grid-template-areas: "current current" "main right" "footer footer";

    .main {
      h1 {
        text-align: left;
      }
    }

    .right {
      grid-template-columns: 1fr;
    }
  }
  // Navigation
  .topnav {
    input,
    label {
      display: none;
    }

    .topmenu,
    input:checked ~ .topmenu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      position: relative;
      bottom: 0;
      border-radius: 0 0 5px 5px;
      transition: none;
    }
  }

  .current-site h3:before {
    content: "Stage 2";
  }
}
/*------Viðmið 60(960px)------*/
@media screen and (min-width: 60em) {
  body {
    max-width: 60em;
  }

  .current-site h3:before {
    content: "Stage 3";
  }
}
